layout {
    pane size=1 borderless=true {
        plugin location="zjstatus" {
            hide_frame_for_single_pane "true"

            format_left  "{mode}#[fg=#100020,bg=#0070E0,bold]{session}  #[fg=#0070E0,bg=#100020]{tabs}"
            format_right "{swap_layout} #[fg=#100020,bg=#BBBBBB]{datetime}"
            format_space "#[bg=#100020]"

            mode_normal  "#[bg=#0070E0] "
            mode_session "#[bg=#00A000] "
            mode_pane "#[bg=#00A000] "
            mode_rename_pane "#[bg=#A0A000] "

            tab_normal              "#[fg=#100020,bg=#4C4C59] #[fg=#000000,bg=#4C4C59]{index} | {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}#[fg=#4C4C59,bg=#100020]"
            tab_active              "#[fg=#100020,bg=#BBBBBB,bold] {index} | {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}#[fg=#BBBBBB,bg=#100020]"
            // tab_fullscreen_indicator "⛶ "
            tab_fullscreen_indicator "⇱︎ "
            tab_sync_indicator       "  "
            tab_floating_indicator   "󰉈  "

            datetime          "#[fg=#100020,bg=#BBBBBB,bold] {format} "
            datetime_format   "%A, %d %b %Y %l:%M %p"
            datetime_timezone "America/New_York"
        }
    }
    pane
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
